{% extends "base.html" %}

{% block content %}
  <h3>Sign Up <small class="text-muted">to create your own kibi posts!</small></h3>
  <hr>
      <div class="row">
        <div class="col">
          <form method="post" action="{% url 'signup' %}" class="mx-auto">
            {% csrf_token %}
              <div class="form-group row">
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}Email:</label>
                      <input class="form-control" type='email' name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}Username:</label>
                      <input class="form-control" type="username" name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}Password:</label>
                      <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                    <div class="col-8">
                      <label for="id_{{ field.name }}">{{ field.label|title }}Confirm Password:</label>
                      <input class="form-control" type="password" name="{{ field.name }}" id="id_{{ field.name }}" required>
                    </div>
                </div>
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-success">Sign up</button>
          </form>
        </div>
      </div>
{% endblock %}