{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ post.title }} <small class="text-muted">Last updated {{ post.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ post.author.username }}</b></small></h3>
      <hr>
      <p>{{ post.content|linebreaksbr }}</p>
      <hr>
      <a href="{% url 'kibi-list-post' %}">Back to List</a>
          <div class="col-8">
       <label for="id_{{ field.name }}">{{ field.label|title }}Comment:</label>
        <input class="comment" name="comment-field" id="id_{{ field.name }}" required>
    </div>
    </div>
  </div>
{% endblock %}
